<!doctype html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/public/app.css"/>

</head>
<body>
<%- include('partials/navbar') %>
<div>
    <h1 class="welcome">
        Welcome to the Community Forum!
    </h1>
</div>
<div class="post-list">
    <%- include('partials/postCard', { title: "Check this out!", content: "Lorem ipsum, this is post content, that was posted by a user. This is saying something about something cool and is a post. This was posted by a user.", date: "5/10/23", username: "User", boardID: "Coolstuff" }) %>
    <%- include('partials/postCard', { title: "Check this out!", content: "Lorem ipsum, this is post content, that was posted by a user. This is saying something about something cool and is a post. This was posted by a user.", date: "5/10/23", username: "User", boardID: "Coolstuff" }) %>
    <%- include('partials/postCard', { title: "Check this out!", content: "Lorem ipsum, this is post content, that was posted by a user. This is saying something about something cool and is a post. This was posted by a user.", date: "5/10/23", username: "User", boardID: "Coolstuff" }) %>
    <%- include('partials/postCard', { title: "Check this out!", content: "Lorem ipsum, this is post content, that was posted by a user. This is saying something about something cool and is a post. This was posted by a user.", date: "5/10/23", username: "User", boardID: "Coolstuff" }) %>
    <%- include('partials/postCard', { title: "Check this out!", content: "Lorem ipsum, this is post content, that was posted by a user. This is saying something about something cool and is a post. This was posted by a user.", date: "5/10/23", username: "User", boardID: "Coolstuff" }) %>
    <%- include('partials/postCard', { title: "Check this out!", content: "Lorem ipsum, this is post content, that was posted by a user. This is saying something about something cool and is a post. This was posted by a user.", date: "5/10/23", username: "User", boardID: "Coolstuff" }) %>
    <%- include('partials/postCard', { title: "Check this out!", content: "Lorem ipsum, this is post content, that was posted by a user. This is saying something about something cool and is a post. This was posted by a user.", date: "5/10/23", username: "User", boardID: "Coolstuff" }) %>
    <%- include('partials/postCard', { title: "Check this out!", content: "Lorem ipsum, this is post content, that was posted by a user. This is saying something about something cool and is a post. This was posted by a user.", date: "5/10/23", username: "User", boardID: "Coolstuff" }) %>
    <%- include('partials/postCard', { title: "Check this out!", content: "Lorem ipsum, this is post content, that was posted by a user. This is saying something about something cool and is a post. This was posted by a user.", date: "5/10/23", username: "User", boardID: "Coolstuff" }) %>
</div>
</body>
</html>