<!doctype html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/app.css"/>
    <link rel="stylesheet" href="/public/postPage.css"/>

</head>
<body>
<%- include('partials/navbar') %>
<div class="error-message">
    <% if (post.error) { %>
        <p>
            Error: <%= post.error %>
        </p>
    <% } %>
</div>

<% if (!post.error) { %>
    <div class="post-card">
        <a href="/board/<%= post.boardID %>" class="post-card-board">board/<%= post.boardID %></a>
        <div class="post-card-info">
            <span class="post-card-author">Posted by <%= post.authorID %></span>
            <span class="post-card-date">at <%= post.timestamp %></span>
        </div>
        <h1 class="post-title"><%= post.title %></h1>
        <p><%= post.content %></p>
    </div>
    <div>
        <h2 class="comment-title">Comments</h2>
    </div>
    <div class="comment-add">
        <h1 class="comment-title-card">Write Comment</h1>
        <% if (loggedIn) { %>
            <form id = "comment-form" method="post">
                <input type="hidden" name="post" value="<%= JSON.stringify(post) %>">
                <input type="hidden" name="title" value="<%= title %>"> 
                <textarea class="input-textarea" id="comment-input" name="comment" placeholder="Comment" required></textarea>
                <button class="input-button" type="submit">Add Comment</button>
            </form>
        <% } else { %>
            <p class="error-message">You must be logged in to comment</p>
        <% } %>
    </div>
    <div class="comment-list">
        <% if (post.comments) { %>
            <% post.comments.forEach(function(comment) { %>
                <%- include('partials/commentCard', comment) %>
        <% }); } %>
    </div>
<% } %>
<script src="/public/handlePostComment.js"></script>
</body>
</html>

