<div class="post-card">
    <a href="/board/<%= boardID %>" class="post-card-board">board/<%= boardID %></a>
    <div class="post-card-info">
        <span class="post-card-author">Posted by <%= authorID %></span>
        <span class="post-card-date">at <%= timestamp %></span>
    </div>
    <h3 class="post-card-title">
        <a href=/board/<%= boardID %>/posts/<%= _id %>><%= title %></a>
    </h3>
    <div class="post-card-content">
        <p><%= content %></p>
    </div>
</div>
